<h1>My Items</h1>

<table class="table js-items">
<%= render @items %>
</table>

<%#= link_to "New Item", new_item_path, class: "btn btn-success" %>
<div class="new-item">
<%= render "form", item: Item.new %>
</div>
